<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link type="text/css" media="all" href="../../resources/css/master.css" th:href="@{/resources/css/master.css}" rel="stylesheet" />
        <link type="text/css" media="all" href="../../resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" />
        <link type="text/css" media="all" href="../../resources/css/bootstrap-theme.css" th:href="@{/resources/css/bootstrap-theme.css}" rel="stylesheet" />
        <link type="text/css" media="all" href="../../resources/css/app.css" th:href="@{/resources/css/app.css}" rel="stylesheet" />
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <title>Login</title>
    </head>
 <body> 
     <div style="margin-left:30px;margin-right:30px;">
     <h1>You're welcome to login</h1>
     <div th:if="${param.logout}"><p style="color:greenyellow"> You have been logged out.</p> </div>
     <div th:if="${param.error}" ><p style='color:red'> Invalid username or password.</p> </div> 
         <form th:action="@{/login}" method="post"> 
             <table>
                 <tr>
                    <td><label class="control-label"> User Name: <input type="text" name="username"/></label></td> 
                 </tr>
                 <tr>
                    <td><label class="control-label"> Password: <input type="password" name="password"/> </label></td>
                 </tr>
             </table>
             <table>
                 <tr>
                    <td><a href="#" th:href="@{/register}"><button class="btn-primary" type="button">Sign Up</button></a></td>
                    <td><input class="btn-primary" type="submit" value="Sign In"/></td> 
                 </tr>
             </table>
         </form>
     </div>
     <script>
		var data = [10,50,80];
		var r = 300;
		
		var color= d3.scale.ordinal()
			.range(["red","blue","orange"])
		
		var canvas = d3.select("body").append("svg")
			.attr("width",1500)
			.attr("height",1500)
		var group = canvas.append("g")
			.attr("transform","translate(300,300)");
		var arc = d3.svg.arc()
			.innerRadius(200)
			.outerRadius(r)
		
		var pie=d3.layout.pie()
			.value(function (d) { return d; });
		
		var arcs = group.selectAll(".arc")
			.data(pie(data))
			.enter()
			.append("g")
			.attr("class","arc");
			
		arcs.append("path")
			.attr("d",arc)
			.attr("stroke","white")
			.attr("stroke-width",5)
			.attr("fill", function(d) { return color(d.data); });
			
		arcs.append("text")
			.attr("transform",function(d) { return "translate(" + arc.centroid(d) + ")"; })
			.attr("text-anchor","middle")
			.attr("fill","white")
			.attr("font-size","1.5em")
			.text(function (d) { return d.data+"%"; });
		
	</script>
 </body>    
</html>